@CHARSET "UTF-8";

body {
	margin: 0;
	font-family: Segoe UI, 微软雅黑;
	background: #eee;
}

#appHeader {
	background-color: #000000;
	height: 50px;
	width: 100%;
	position: absolute;
	overflow: hidden;
	color: #ffffff;
}

#siteTitle {
	font-size: 30px;
	font-weight: 500;
	margin: 5px auto;
	float: left;
}

#siteLogin {
	cursor: pointer;
	float: right;
	font-size: 20px;
	margin: 10px auto;
}

#container {
	top: 55px;
	overflow: hidden;
}

#container .item {
	margin-bottom: 5px;
	width: 19.5%;
}

#container .item img {
	display: block;
	width: 100%;
}

#container .item .itemText
{
	margin:-20px 0px 0px 0px;
	background:rgba(255,255,255,0.3);
	z-index:1000;
	position:relative;
	padding-left:10px;
	font-size:15px;
	height:20px;
	overflow:hidden;
}

#container .item .w2 {
	width: 50%;
}